---
import { getLangFromUrl } from "@/i18n/utils";
import { languages } from "@/i18n/lang";

const lang = getLangFromUrl(Astro.url);
const currentLang = languages[lang];
const url = Astro.url.pathname.replace(`/${lang}/`, "");
---

<span
  id="lang-changer"
  aria-label="Change language"
  class="lang-changer dropdown dropdown-end"
>
  <button
    id="lang-button"
    class="lang-button btn btn-xs max-md:btn-square md:btn-sm btn-outline flex-nowrap align-middle"
    role="button"
    tabindex="0"
  >
    <span class="iconify ph--translate-duotone w-4 h-4"></span>
    <span class="capitalize lg:min-w-20 hidden md:inline-block font-normal"
      >{currentLang}</span
    >
  </button>
  <span id="lang-options" class="lang-options dropdown-content top-10">
    <menu
      tabindex="0"
      class="menu menu-sm bg-base-100 z-10 w-32 border-[1px] border-neutral"
    >
      {
        Object.entries(languages).map(([key, value]) => {
          const activeLang =
            key === lang ? "bg-neutral text-neutral-content" : "";
          const newUrl = lang === key ? "#" : `/${key}/${url}`;
          return (
            <li>
              <a class="" href={newUrl}>
                <code
                  class="px-1 outline outline-1 text-content font-geist-mono"
                  class:list={[activeLang]}
                >
                  {key}
                </code>
                {value}
              </a>
            </li>
          );
        })
      }
    </menu>
  </span>
</span>
